div.main-container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
}

div.main-container img.mainLogo {
    height: 65px;
}

div.main-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

div.main-container ul li {
    display: flex;
    flex-direction: column;
}

div.main-container ul li > img {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}

div.main-container ul li footer {
    flex: 1;
    background-color: #FFFFFF;
    padding: 15px 20px;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
}

div.main-container ul li footer strong {
    font-size: 18px;
    color: #333333;
}

div.main-container ul li footer p {
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    margin-top: 10px;
}

div.main-container ul li div.buttons {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

div.main-container ul li div.buttons button {
    height: 50px;
    border: 0px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

div.main-container ul li div.buttons button > img {
    height: 25px;
    transition: 0.2s ease;
    transition-property: height;
}

div.main-container ul li div.buttons button:hover img {
    height: 35px;
}

div.main-container ul li div.buttons button.dislike {
    background-color: rgba(252, 100, 100, 0.15);
}

div.main-container ul li div.buttons button.like {
    background-color: rgba(68, 236, 204, 0.15);
}

div.main-container div.empty {
    font-size: 30px;
    font-weight: bold;
    color: #999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.main-container div.empty span.emptySpan {
    color: #DF4723;
}